.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.task {
    background-color: #eee;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.slds-form-element label {
    font-size: 18px;
    line-height: 1.4;
    color: #333;
}

.slds-form-element input,
.slds-form-element textarea {
    margin-top: 0;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
